body{
    background: linear-gradient(#b8dafc, white);
    overflow: hidden;
  }
  
  button{
    width: fit-content;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
  }
  
  button:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }