*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

nav{
   background-color: #2d4c50;
   box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.3rem 0;
}

.navbar .Logo{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}